<h1> <%= @bug.name%> </h1>

<br>

  <h3>Bug type:  <%= @bug.bug_type %></h3>
<br>
  <h3>Healthy garden bug? <%= @bug.healthy_garden_bug %> </h3>
<br>
<br>

  <h4><%= link_to "Back to Bug List", bugs_path%></h4>
  
