<h1>Let's talk About the Magic Jardin!</h1>


<h3>Meet the creators of your Magic Jardin website:</h3>

<%=link_to "Alyssa Easterly's Github", "https://github.com/chirptotheeast", target: "blank"%>
<br>
<%=link_to "Mauro Dorigo's Github", "https://github.com/purisquiri", target: "blank" %>
<br>
<br>
<br>
<%=link_to "Jardin Home", home_path %>
