<h1>Flower name:<%= @flower.name %> </h1>
<br>

<h1>Is an Annual? <%= @flower.annuals %></h1> 
<br>
<h1>Level of Exotic: <%= @flower.exotic %></h1> 

<%= link_to "Back to Flower list!", flowers_path%>